{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block body %}
    <section class="series-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_detail', {'id' : serie.id }) }}" title="View series's details">
                    <img src="{{ asset("uploads/posters/series/" ~ serie.poster) }}" alt="{{ serie.name }}" loading="lazy">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
